// showing default values
$accentColor = #4353ff
$textColor = #232a35
$borderColor = #eaecef
$codeBgColor = #282c34

.site-name.can-hide {
    display: none;
}

.logo {
    max-width: 177px;
}

.badge.tip,
.badge.green {
   background: $accentColor !important;
}

#app .custom-block.tip {
   border-color: $accentColor;
}

#app .content:not(.custom) > h1,
#app .content:not(.custom) > h2{
   margin-top: 0;
}

.sidebar-links > li > .sidebar-link {
    font-weight: bold;
    margin-top: 20px;
}

